{% extends 'base.html'%}

{% block main%}
<h2>{{ name }}</h2>
{%if current_user.username == null %}
<p>Här kommer 'average' betyg finnas. Du måste vara inloggad för att ge betyg.</p>
<p>Medelbetyget för platsen är {{ average_rating }}</p>
{%else%}
<div class="rating-box">
        <div class = "ratings">
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
            <span class="fa fa-star-o"></span>
        </div>
</div>
<p>Du har gett betyg {{  saved_rating }} (hämtat från DB) OBS SKA INTE SE UT SÅHÄR</p>
<p>Medelbetyg för platsen är {{  average_rating }} (hämtat från DB) OBS SKA INTE SE UT SÅHÄR</p>
{%endif%}
<ul>
{%for i in info%}
<p> {{ i.description }} </p>
<p> Läs mer: <a href="{{ i.source }}">{{ i.source }} </a></p>
{%endfor%}
</ul>
{% endblock%}

{% block aside%}
<h2>Felplacerade "bilder" är här</h2>
{% if current_user.is_authenticated %}

{{ dropzone.create(action_view='place', category=category, name=name, placeid=placeid) }}
{{ dropzone.config(redirect_url=url_for('place', category=category, name=name, placeid=placeid)) }}
{%endif%}
{% for image in files %}
    <img style="height: 300px; width: 200px; padding: 10px; display: block;" src="{{ url_for('static', filename='uploads/' + image) }}">
    <!---Måste få in kategorier och namn, men hur funkar det när vi har flera kategorier?--->
   
    
{% endfor %}

{% endblock%} 
