{% extends 'base.html'%}

{% block main%}
<h2>{{ name }}</h2>
<ul>
{%for i in info%}
<p> {{ i.description }} </p>
<p> Läs mer: <a href="{{ i.source }}">{{ i.source }} </a></p>
{%endfor%}
</ul>
{% endblock%}

{% block aside%}
<a href="/uploadimage">Du kan inte ladda upp bilder här</a>
<h2>Felplacerade "bilder" är här</h2>
{{ dropzone.create(action_view='place', category=category, name=name) }}
{% for image in files %}
    <img style="height: 300px; width: 200px; padding: 10px; display: block; "src="/static/uploads/{{image}}">
   
    
{% endfor %}
{% endblock%} 