	body { margin: 0; padding: 0; }
	#map {   }
#map {
    position: relative;
    float:right;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5em 3em;
    box-shadow: 0 0 5px rgb(201, 200, 200);
    height:450px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}