/*==========NAV===========*/
img#logo{
    display: block;
    width:20%;
    min-width: 160px;
    margin:10px 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    height:60px;
    width:100%;
    background-color: rgba(47, 160, 8,1);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin-bottom: 0;
}

.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 20px;
    width:20%;
}

.dropdown {
  float: left;
  overflow: hidden;

}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  margin: 0 ;
  background-color: inherit;
  font-family: inherit;
  padding: 20px 30px;


}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #2a7000;
  color: rgb(135, 240, 132);

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
  overflow: visible;
}


.fa-star, .fa-star-o {
    color: #FF9800;
}


.login {

    display: block;
    float :right;
    width: 240px;
    margin: 5px;

}

.login >  a:link {
    color:rgba(57,130,53,1);
    cursor: pointer;
    text-decoration: none;
    padding:0 20px;
    text-align: right;
    font-size: 16px;
}

.login >  a:visited {
    color:rgba(57,130,53,1);
    cursor: pointer;
    text-decoration: none;
}

.login >  a:hover {
    text-shadow: 1px 2px 8px #426a5a;
}
a:hover {
    color: rgb(135, 240, 132);
    cursor: pointer;
}

#local-bar{
    display: flex;
    justify-content: space-evenly;
    height:30px;
    width:100%;
    background-color:#2a7000;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border-radius: 4px;

}

#local-bar  a {
    display:inline;
    color: white;
    text-decoration: none;
    padding: 5px;
    width: 50%;
    text-align: center;
}
#local-bar a:hover {
    color: rgb(135, 240, 132);
    background-color: #154400;
    cursor: pointer;
}
#profile-link {


}

/*===========Profile==============*/
#profile-page{
    margin:20px;
    min-height: 500px;
}

#delete{
    float:right;
}
#user{
     margin:20px;
    min-height: 500px;
}

#user li {
    list-style-type: none;

}
#user a {
     padding: 10px;
}

#get-margin{
    margin:10px;
    font-size: 16px;
}
/*==========body===========*/
body {
  background-color: white;
  font-family: 'Titillium Web', sans-serif;
  color: black;

}

body >h1{
    padding: 0 0 0 20px;
}

body .row{
    padding: 0 0 0 20px;
}

#sub_nav{
    margin-left: 20px;

}

a{
    color: rgba(47, 160, 8,1);
}
#main_text{
    display: block;
    float: left;
    margin: 40px 20px;
    max-width:520px;
}

#wrapper {
    display:block;
    max-width: 1300px;
    min-height: calc(100vh - 16px);
    box-shadow: 0 0 10px rgb(190, 190, 190);
    margin: auto;
    border-radius: 5px;

}

#wrapper > nav > a:hover {
    color: rgba(201,222,150,1);
    cursor: pointer;
}


#wrapper >  p > a {
    text-decoration: none;
}

blockquote {
    font-style: italic;
}

#main_text > p {
    color: rgb(31, 92, 121);
    padding: 10px 40px;

    text-align: justify;
}
#main_text > h2 {
    color: rgb(31, 92, 121);
    margin-top: 5px;
    padding: 10px 50px;
}


#footer {
    clear: both;
    height: 40px;
    background: rgba(47, 160, 8,1);
    text-align: center;
    border-radius: 4px;
}

#footer > h3 {
    margin: 10px;
    color: white;
}

#page-whole{
    margin:20px;
}

/*===========Bootstrap manipulations===========*/

.alert-warning {
    color: #426a5a;
    background-color: #eeefa8;
    border-color: #7fb685;
}
.alert-info {
    color: #08266d;
    background-color: #47cbe0;
    border-color: #238ce1;
}
.alert {
    margin: 20px;
}
/*==========IMAGE NOT FLOAT=========*/
@media screen and (min-width:590px) and (max-width:790px) {
    #main > img {
        float: none;
        }
}

/*==========PHONE===========*/
@media screen and (min-width:200px) and (max-width:590px) {

    #wrapper {
        width: 100%;

    }


    #main > h1 {
        text-align: center;
    }

    #nav {

        flex-direction: column;

    }

    #nav > a {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    #wrapper > main > h2 {
        text-align: center;
        margin: 0.5em;
    }

    #main {
        padding: 0px 20px;
        margin: 0.5em;
    }

    #map {
        margin: 0em auto 1.5em auto;
    }

    #namn {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100 */
        background: rgb(240,249,255); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
    }

    #namn > p {
        text-align: center;

    }

    #wrapper > img {
    float: none;
    }

}

