body {
  background-color: white;  
  font-family: 'Titillium Web', sans-serif;
  color: black;
}

#wrapper {
    display: grid;
    max-width: 1300px;
    min-height: calc(100vh - 16px);
    grid-template-rows: 73px 24px auto 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-gap:*/
    box-shadow: 0 0 10px rgb(190, 190, 190);
    margin: auto;
    border-radius: 5px;
    grid-template-areas: 
        "header header header div"
        "nav nav nav nav"
        "main main aside aside"
        "footer footer footer footer" 
}

#wrapper > header {
    grid-area: header;
    color: rgb(255, 255, 255);
    height: 73px;
    padding-left: 2em;
    font-size: 1.5em;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
    background: rgb(201,222,150); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */

}

#wrapper > header > h1 {
    margin: 0px;
    text-shadow: 1px 1px 2px rgb(6, 131, 48);

}

.login {
    grid-area: div;
    display: flex;
    justify-content: space-evenly;
    text-shadow: 1px 1px 2px rgb(6, 131, 48);
    padding-top: 3%;
    background: rgb(201,222,150); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */

}

a:link, a:visited {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}


#wrapper > nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    height: 24px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
    background-color: rgba(57,130,53,1);
    margin-top: 1px;
    color: white;
}

a:hover {
    color: rgb(135, 240, 132);
    cursor: pointer;
}

#wrapper > nav > a {
    padding: 0 2em 0 6em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#wrapper > nav > a:hover {
    color: rgba(201,222,150,1);
    cursor: pointer;
}

#wrapper > main {
    grid-area: main;
    padding: 20px 40px;
}

#wrapper > main > p > a {
    text-decoration: none;
}

blockquote {
    font-style: italic;
}

#wrapper > main > img {
    float: right;
}

#wrapper > main > h2 {
    color: rgb(31, 92, 121); 
    margin-top: 5px;
}

#wrapper > aside {
    grid-area: aside;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5em 1em;
    box-shadow: 0 0 5px rgb(201, 200, 200);
    height: 20em;
    width: 12em;
}

#wrapper > footer {
    grid-area: footer;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
    background: rgb(201,222,150); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */

text-align: center;

}

#wrapper > footer > h3 {
    margin: 10px;
    color: white;
}

/*==========MAP===========*/

#map { width: 500px; height:450px; }

/*==========IMAGE NOT FLOAT=========*/
@media screen and (min-width:590px) and (max-width:790px) {
    #wrapper > main > img {
        float: none;
        }
}

/*==========PHONE===========*/
@media screen and (min-width:200px) and (max-width:590px) {
    
    #wrapper {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 75px auto auto 50px;
        grid-template-areas: 
        "header"
        "div"
        "nav"
        "main"
        "aside"
        "footer"
    }

    #wrapper > header {
        padding: 0px;
    }
    
    #wrapper > header > h1 {
        text-align: center;
    }

    #wrapper > nav {
        display: flex;
        flex-direction: column;
        height: 75px;
    }

    #wrapper > nav > a {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    #wrapper > main > h2 {
        text-align: center;
        margin: 0.5em;
    }

    #wrapper > main {
        padding: 0px 20px;
        margin: 0.5em;
    }

    #wrapper > aside {
        margin: 0em auto 1.5em auto;
    }

    #namn {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100 */
        background: rgb(240,249,255); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
    }

    #namn > p {
        text-align: center;

    }

    #wrapper > main > img {
    float: none;
    }
    
}

