<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Natura</title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
        <link href="{{ url_for('static', filename='script.js') }}" type="text/javascript">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        
        
        <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
        <style>
            
            #map { width: 500px; height:450px; }
        </style>
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="wrapper">
            <header><h1>Natura</h1></header>
            <nav>
                <a href="/">Start</a>
                <a href="/category">Kategorier</a>
                <a href="/gallery">Galleri</a>
                <a href="/info">Info</a>
                <a href="/contact">Kontakt</a>
            </nav>
            <div class="login">
                {%if loggedin == False:%}
                <p><a href="/login">Logga in</a></p> 
                <p><a href="/createaccount">Skapa konto</a></p>
                {%else:%} 
                <p><a href="/logout">Logga ut</a></p>
                <p><a href="/myaccount">Mitt konto</a></p>
                {%endif%}
            </div>

            <main>
                {% block main %}

                {% endblock %}
            </main>
            {% block aside %}

            {% endblock %}
            <footer>
                <h3>Senast uppdaterad: 16/03/2020</h3>
            </footer>
        </div>
    </body>
</html>