{% extends 'base.html'%}
{% block title %}Galleri{% endblock title %}

{% block main%}

<div class="row">
    <div class="col-lg-12">
        <h2>Galleri</h2>
    </div>
</div>
<!--------Visar bilder i 3 columner per rad----------->
<div class="row">
{% for image in all_images %}
    {% if loop.index % 3 == 1 %}
        </div>
        <div class="row">
    {%endif%}

    <div class="col-lg-4 center-block">
        <img src="/app/static/uploads/{{image}}" class="rounded float-left img-responsive" alt="{{image}}">
    </div>

{%endfor%}
</div>
{% endblock%}