{% extends 'base.html'%}
{% block title %}Info{% endblock title %}

{% block main %}
<div class="col-lg-12">
    <h3 class="bold">Varför Natura skapades</h3>
    <p>Natura skapades 2020 av fyra studenter vid Malmö Universitet på en kurs vid namn "Systemutveckling och Projekt 1". Studenterna tyckte att det behövdes en webbsida där likasinnade naturälskare kan ta del av upplevelser i närheten av dem. Eftersom projektet var tidsbegränsat så bestämdes det att i nuläget enbart ha med Skåne.</p>

    <h3 class="bold">Hur du använder Natura</h3>
    <p>På Naturas webbsida kan du ta del av Natur-upplevelser i Skåne. Du kan hitta ställen nära dig genom att trycka på platsdata på kartan på startsidan eller genom att kolla runt i kategorier. Söker du efter en specifik plats, men du inte kan hitta den så har vi en index sida med platser A-Ö.</p>
    <p>På Galleri kan du hitta alla upplagda bilder vilket kan ge dig inspiration till ditt nästa resmål. Du finner också användarbetyg på de olika platserna.</p>
    <p>Om du skapar ett konto får du flera möjligheter att dela dina uppleverna. Du kan lägga upp bilder, ge betyg samt göra inlägg som är synliga för resterande av Natura-användare.</p>

    <h4 class="bold">Fler frågor?</h4>
    <p>Gå till fliken "Kontakt" och skicka oss ett meddelande! Om du lämnar din e-mail så återkommer vi så fort vi kan.</p>
</div>

{% endblock %}
