{% extends 'base.html'%}
{% block title %}Info{% endblock title %}

{% block main %}
<h1>Info</h1>
<h3>Varför Natura skapades</h3>
<p>Natura skapades 2020 av fyra studenter vid Malmö Universitet på en kurs vid namn "Systemutveckling och Projekt 1.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, minus architecto, autem harum corrupti veritatis, ipsam dolore sed pariatur ipsum repellat! Excepturi laborum magni ab est maiores, dignissimos iusto deserunt?</p>
<h3>Hur du använder Natura</h3>
<p>På Naturas webbsida kan du ta del av Natur-upplevelser i Skåne.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur beatae quibusdam, optio nesciunt pariatur quo error quia qui nulla quis repellat cum deleniti fuga quas unde delectus laborum amet vitae.</p>
{% endblock %}
