{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Logga in{% endblock title %}


{% block app_content %}

<h1>Logga in</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<br>
<div id="sub_nav">
    <p>
        Ny användare? <a href="{{ url_for('register') }}">Klicka för att registera!</a>
    </p>
    <p>
        Glömt ditt lösenord?
        <a href="{{ url_for('reset_password_request') }}">Klicka för att återställa det.</a>
    </p>
</div>
{% endblock app_content%}