{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Mitt Konto{% endblock title %}
{% block nav %}
    <div id="nav2">
     <ul class="nav nav-tabs">
                 <li class="nav-item active ">
                    <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('myaccount') }}">Inlägg</a>
                </li>
     </ul>
  </div>

{% endblock nav %}
{% block app_content %}
<div id="my_images">
    <h1>Mina bilder</h1>
    {%for image in images%}
        <img src="/app/static/uploads/{{image}}" class="images" id="{{ image }}" height="100em" class="rounded float-left" alt="{{images[0]}}">
        <button type="button" class="btn btn-light remove-image"><a href="{{ url_for('my_images', username=current_user.username) }}">Ta bort</a></button>
    {%endfor%}
    
<button type="button" class="btn btn-light"><a href="{{ url_for('user', username=current_user.username) }}">Tillbaka</a></button>

{%endblock%}
{% block scripts %}
<script src="{{ url_for('static', filename='removeimage.js') }}" type="text/javascript"></script>
<script>
    remove_my_image();
</script>
{{super()}}
{% endblock scripts %}