{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Mitt Konto{% endblock title %}

{% block nav %}
  <div id="nav2">
     <ul class="nav nav-tabs">
                <li class="nav-item  ">
                    <a class="nav-link active" href="{{ url_for('user', username=current_user.username) }}">Profil</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('myaccount') }}">Konto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('explore') }}">Alla inlägg</a>
                </li>
     </ul>
  </div>

{% endblock nav %}

{% block app_content %}
{{super()}}

<div id="account-page">
    <h1>{{ current_user.username }}s konto</h1>

    
    <div id="change_password">
        <a class="btn btn-default" href="{{ url_for('delete') }}">
            <i class="fa fa-picture-o"></i></i> Mina bilder </a>
    </div>

    <div id="change_password">
        <a class="btn btn-default" href="{{ url_for('delete') }}">
            <i class="fa fa-star"></i></i> Mina betyg </a>
    </div>

    <div id="change_password">
        <a class="btn btn-default" href="{{ url_for('delete') }}">
            <i class="fa fa-key"></i></i> Ändra lösenord </a>
    </div>

    <div id="remove_user">
        <a class="btn btn-danger" href="{{ url_for('delete') }}">
            <i class="fa fa-trash-o fa-lg"></i> Radera ditt konto </a>
    </div>
</div>
{% endblock %}