{% extends "base.html" %}
{% block title %}Mitt Konto{% endblock title %}



{% block nav %}
  <div id="nav2">
     <ul class="nav nav-tabs">
                <li class="nav-item  ">
                    <a class="nav-link active" href="{{ url_for('user', username=current_user.username) }}">Profil</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('myaccount') }}">Konto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('explore') }}">Alla inlägg</a>
                </li>
     </ul>
  </div>

{% endblock nav %}

{% block content %}
{{super()}}


    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ user.username }}</h1>

                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>Last seen on: {{ user.last_seen }}</p>
                {% endif %}
                <p>{{ user.followers.count() }} följare, {{ user.followed.count() }} följande.</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Redigera din profil</a></p>
                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('follow', username=user.username) }}">Följ</a></p>
                {% else %}
                <p><a href="{{ url_for('unfollow', username=user.username) }}">Sluta följa</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <div id="profile-page">
        <h1>{{ current_user.username }}s inlägg</h1>
        {% if form %}
        {{ wtf.quick_form(form) }}
        <br>
        {% endif %}

        {% for post in posts %}
        {% include '_post.html' %}
        {% endfor %}

        <nav aria-label="...">
            <ul class="pager">
                <li class="previous{% if not prev_url %} disabled{% endif %}">
                    <a href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> Nyare inlägg
                    </a>
                </li>
                <li class="next{% if not next_url %} disabled{% endif %}">
                    <a href="{{ next_url or '#' }}">
                        Äldre inlägg <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

{% endblock content %}