
	
#map {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(201, 200, 200);
    margin-left: auto;
    margin-right: auto;
    width:70vw;
    height:350px;
    max-width: 700px;
    min-width: 300px;
}

.mapboxgl-canvas{
    position: absolute;
    width: 50vw;
    height: 350px;
    max-width: 700px;
    min-width: 300px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.place_map{
    width: 250px !important;
    height: 250px !important;
    margin:0px !important;
}
/*=============@Media========*/

@media only screen and (max-width: 640px) {

    #map {
        height:300px;
    }
.mapboxgl-canvas{
    height:300px;
}

}