#logo{
    display: block;
    width:20%;
    min-width: 160px;
    max-width: 295px;
    margin-top: -10px;
}

.activ{
    background-color: rgb(220, 252, 189);
}

a   {
    color: rgba(47, 160, 8,1);
}

body{
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.5;
}
#wrapper {
    display:block;
    position: relative;
    max-width: 1300px;
    min-height: calc(100vh - 6px);
    box-shadow: 0 0 10px rgb(190, 190, 190);
    margin: auto;
    border-radius: 5px;
    padding-bottom: 5%;
}
#inner-wrap{
    margin-bottom: 10px;
}
/*===========LOGIN MENU ===========*/

.login {

    display: block;
    float :right;
    margin: 10px;
    margin-top: 35px;

}

.login >  a:link {
    color: rgba(47, 160, 8,1);
    cursor: pointer;
    text-decoration: none;
    padding:0 20px;
    text-align: right;
    font-size: 13px;
}

.login >  a:visited {
    color: rgba(47, 160, 8,1);
    cursor: pointer;
    text-decoration: none;
}

.login >  a:hover {
    text-shadow: 1px 2px 8px #426a5a;
}
a:hover {
    color: rgb(135, 240, 132);
    cursor: pointer;
}



/*===========MAIN MENU=========*/

.dropup,
.dropdown {
    min-width: 130px;
    text-align: center;
    list-style-type:none;
}
.dropdown-menu{
    min-width: 128px;
}
.nav-tabs>li{
    width:120px;
    text-align: center;
}
.dropdown-menu a{
    display:block;
    padding:5px 0 5px 10px;
}
.dropdown-menu> a:hover{
    background-color:rgb(181, 241, 179) ;
    color:rgb(39, 114, 36);
    text-decoration:none
}
.dropdown-divider{
        border-bottom: 1px solid #ddd;
}

/*=========INNER MENU==========*/
#inner_wrap{
    padding-left: 20px;
    padding-right: 20px;
}
.nav{
    padding-left: 20px;
    margin-top:30px;
}
.nav li{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    float: left;
}
/*=========CONTENT AREA==========*/
/*=======Carosel========*/
.carousel {
    position: relative;
    max-width: 600px;
    margin: 20px;
    margin-top:0px;
    float:left;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-item.active {
    display: block;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}
.carousel img{
    width: 600px;
    height: 400px;
}
/*=======Carosel end========*/

#remove_user{
    float: right;
    margin:10px;
}

#delete.btn{
   margin-bottom: 10px;
  }

  .fa-star, .fa-star-o {
    color: #FF9800;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;  
  }
  #photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }  

  #main_text{
    width:100%;
    text-align: center;

}

.card{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    display:inline-block;
    margin: 0.5%;
    flex-direction: column;
    box-sizing: border-box;
}
  
.card-body{
    padding:10px;
   
}

.card .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;

}
.card img{
    width:100%;
    height:auto;
}
.alert {
    margin-top: 5px;
}

#addimage {
    float: right;
    margin-right: 5%;
    
}

#addimage > h3 {
    margin-left: 20%;
}
/*============PLACE===========*/
#place_name{
    margin-left: 20px;
}
#place_h2{
    margin-top:290px;
}
#place_h3{
    margin-top:0px;
}
/*============FOOTER===========*/
.text-center {
    color:rgba(47, 160, 8,1);
}

.footer-copyright
{
    box-shadow: 0 -2px  3px -2px rgb(22, 77, 4);
   
}
.page-footer{
    position: absolute;
    bottom: 0;
    width:100% ;
    height:30px;
    margin-top:2%;
    
}

/*=============@Media========*/

@media only screen and (max-width: 1090px) {
#logo{
        width:16%;

}
.nav-tabs{
    margin:auto;
}
.navbar-brand{
    float: none;
}
#login{
    margin-top:0;
}




}