/*=========== ALL =========*/

/*logo*/
#logo {
    display: block;
    width: 20%;
    min-width: 160px;
    max-width: 295px;
    margin-top: -5px;
}

.navbar-brand {
    width: 20vw;
}

/*make text bold*/
.bold{
    font-weight: 900;
}

/*links*/
a {
    color: rgba(47, 160, 8, 1);
}

a:hover {
    color: rgb(135, 240, 132);
    cursor: pointer;
}

/*other*/
body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.5;
}

#inner-wrap {
    margin-bottom: 20px;
}

.container-fluid{
    min-height:95vh;
}

.alert {
    margin-top: 5px;
}
/*===========LOGIN MENU ===========*/

.login {
    display: block;
    float: right;
    margin: 10px;
    margin-top: 35px;
}

.login>a:link {
    color: rgba(47, 160, 8, 1);
    cursor: pointer;
    text-decoration: none;
    padding: 0 20px;
    text-align: right;
    font-size: 13px;
}

.login>a:visited {
    color: rgba(47, 160, 8, 1);
    cursor: pointer;
    text-decoration: none;
}

.login>a:hover {
    text-shadow: 1px 2px 8px #426a5a;
}

/*===========MAIN MENU=========*/
#ham-menu {
    display: none;
}

.dropdown {
    min-width: 130px;
    text-align: center;
    list-style-type: none;
}

.dropdown-menu {
    min-width: 128px;
}

.dropdown-menu a {
    display: block;
    padding: 5px 0 5px 10px;
}

.dropdown-menu>a:hover {
    background-color: rgb(181, 241, 179);
    color: rgb(39, 114, 36);
    text-decoration: none
}

.dropdown-divider {
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
    width: 12vw;
    max-width: 100px;
    min-width: 90px;
    text-align: center;
}

.activ {
    background-color: rgb(220, 252, 189);
}

.navbar {
    margin-bottom: 0;
}

.fa-icon-innter-text {
    font-family: 'Titillium Web', sans-serif;
    padding-left: 5%;
}

/*=========INNER MENU==========*/

.nav {
    padding-left: 20px;
    margin-top: 35px;
}

.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    float: left;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: rgba(47, 160, 8, 1);
}

/*============PLACE===========*/

/*carousel*/
.carousel {
    max-width: 600px;
}

#carousel-div{
    padding:15px;
    padding-right:0px;
}

.carousel-item {
    display: none;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.carousel_img{
    padding-left:0px;
    padding-top:10px;
    padding-left: 5%;
}

/*add image*/
#addimage>p {
    margin-bottom:0px;
    margin-top:60px;
}

.dropzone .dz-message {
    text-align: center;
    margin: 2px 0 !important;
}

.dropzone {
    margin: 0px !important;
    min-width: 120px;
    width: 200px;
    height: 80px;
}

/*see more*/
#all_see_more{
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding:15px;
    display: inline-block;
    margin-top:20px;
}

.is_in > ul {
    list-style: circle;
}

.include > ul {
    list-style: circle;
}

/*save place*/
#heart {
    color: rgb(199, 60, 60);
    margin: 23px 3px 0px 13px;
}

.heart_btn {
    color: rgb(199, 60, 60);
    margin-right: 1.5%;
}

#nameheart {
    display: flex;
}

/*other*/
#source {
    font-size: smaller;
}

.show_ratings{
    float:left;
}
.average_ratings, .user_rating {
    margin-top: -10px;
    margin-bottom: 10px;
}

.symbols {
    margin-top: 10px;
}

.symbols > p {
    margin: 0px;
}

.hitta_hit{
    display:inline-block;
    padding-left:30px;
}

#map_heading{
    margin:0px;
}

#back_button{
    margin-top:0px;
}

/*=======INDEX PLACES=====*/

#index {
    text-align: center;
}

#index>h2 {
    margin-left: 3.5%;
}

#index>ul {
    columns: 3;
}

/*=======GALLERY==========*/

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}


/*=======MAIN PAGE==========*/
#main_text {
    width: 100%;
    text-align: center;
}


/*=======CATEGORIES==========*/
.card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    display: inline-block;
    margin: 0.5%;
    flex-direction: column;
    box-sizing: border-box;
}

.card-body {
    padding: 10px;

}

.card .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;

}

.card img {
    width: 100%;
    height: 100px;
}

/*=======MY ACCOUNT==========*/

#profile-txt {
    vertical-align: bottom;
    width: 20vw;
    min-width: 160px;
    height: auto;
    float: left;
    margin: 10px
}

#profile-av {
    width: 18vw;
    min-width: 220px;
}

#find_user{
    margin-left:0px;
    margin-bottom:10px;
    margin-right:0px;
}

/*post*/
.table>tbody>tr>td {
    padding: 18px;
    line-height: 1.42857143;
    border-top: transparent;
}

.table>tbody>tr>td>img {
    width: 100%;

}

/*=========BTN=========*/
.btn-group-vertical {

    float: right;
    margin: 10px;
    width: 30%;
    min-width: 200px;
}

.btn-group-vertical a {
    text-align: left;
    padding-left: 20%;
}

#profile_btn {
    float: right;
    margin: 10px;
}

.btn-light {
    margin: 10px 0 10px 0;
}

.remove-image {
    margin-left: 5%;
    margin-right: 30%;
}

.remove-image>a {
    color: white;
}

.fa-star,
.fa-star-o {
    color: #FF9800;
}

.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

.btn-group,
.btn-group-vertical a {
    margin: 3px 0;
}

#go-index {

    margin: 10px auto;
    width: fit-content;

}

#my_places > ul {
    list-style-type: none;
}

#my_ratings > ul {
    list-style-type: none;
}

/*============FOOTER===========*/
.text-center {
    color: rgba(47, 160, 8, 1);
}

i.fab {
    margin: 0.5% 1% 0 0;
}

i.contact {
    font-style: normal;
    padding-right: 1%;
}

.footer-copyright {
    box-shadow: 0 -2px 3px -2px rgb(22, 77, 4);
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin-top: 2%;
    left: 0;
}

/*=============@MEDIA============*/

@media only screen and (max-width: 850px) {

    #logo {
        width: 16%;
        margin-top: 5px;
    }
    .navbar-brand {
        float: none;
        line-height: 1.8;
        margin-bottom: 25px;
    }

    .nav-tabs {
        margin: auto;
        display: table;
        margin-top: 35px;
        width:100%
    }
    .nav>li>a {
        padding: 10px 5px;
    }

    .login {
        margin: 0;
        margin-top: -30px;
    }
}

@media only screen and (max-width: 771px) {
    .place-desc{
        width:80vw;
    }
}

@media only screen and (max-width: 680px) {
    #profile-av {
        float:left;
    }

    #profile-txt {
        width: 50vw;
    }

    .btn-group-vertical {
        float: none;
        width: 50%;
    }
}

@media only screen and (max-width: 530px) {

    #logo {
        margin-top: 5px;
    }

    /*menu*/
    #ham-menu {
        display: block;
    }

    .nav-tabs {
        display: none;
        float: right;
    }

    .navbar-toggler {
        width: 100%;
        background-color: rgba(47, 160, 8, 1);
        border: 0;
        margin-top: 10px;
    }

    .navbar-toggler:active {
        border: none;
        background-color: rgb(54, 185, 14);
    }

    .navbar-collapse.in {
        background-color: rgba(216, 216, 216, 0.322);
        margin-top: -4px;
    }

    .white-text {
        color: white;
        float: right;
    }

    .nav-item {
        list-style: none;
    }

    .nav-item a {
        font-size: 1.2em;
    }

    .close {
        opacity: 1;
        font-size: 50px;
        color: rgb(26, 95, 3);
        text-shadow: 0 0 5px white;
    }

    /*symbols in menu*/
    .fas {
        padding: 5px;
    }

    /*login*/
    .login {

        margin-bottom: 5px;
    }

    #login a {
        font-size: 1em;
    }
   
    /*buttons*/
    .btn-primary {
        color: rgba(47, 160, 8, 1);
        background-color: initial;
        border: none;
        padding: 0;
        font-size: 1.2em
    }
    .btn-primary:hover {
        color: rgba(47, 160, 8, 1);
        background-color: inherit;
    }

    /*modal*/
    .modal-body {
        position: relative;
        padding: 15px;
        width: 80vw;
        height: 60vh;
        background-color: white;
        border-radius: 10px;
        margin: auto;
        top: 100px;
    }

    .modal-body a {
        display: block;
        font-size: 2em;
        margin-left: 10px;
    }

    .modal-backdrop {
        position: fixed;
        top: 90px;
        right: 20px;
        bottom: 195px;
        left: 20px;
        z-index: 1040;
        background-color: rgb(14, 49, 3);
        border-radius: 10px;
    }

    .modal-open .modal {
        background-color: rgba(46, 160, 8, 0.021);
    }

    .modal-content {
        border: none;
    }
    
    /*other*/
    .table>tbody>tr>td {
        width: 80vw;
    }

    #profile-txt {
        width: 80vw;
    }
    
    .carousel{
        margin-left: 0;
        margin-right: 0;
    }
    
}