#logo{
    display: block;
    width:20%;
    min-width: 160px;
    max-width: 295px;
    margin-top: -5px;
}
.navbar-brand {
    width:25vw;
}
.activ{
    background-color: rgb(220, 252, 189);
}

a   {
    color: rgba(47, 160, 8,1);
}

body{
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.5;
}
#wrapper {
    display:block;
    position: relative;
    max-width: 1300px;
    min-height: calc(100vh - 6px);
    box-shadow: 0 0 10px rgb(190, 190, 190);
    margin: auto;
    border-radius: 5px;
    padding-bottom: 5%;
}
#inner-wrap{
    margin-bottom: 10px;
}
/*===========LOGIN MENU ===========*/

.login {

    display: block;
    float :right;
    margin: 10px;
    margin-top: 35px;

}

.login >  a:link {
    color: rgba(47, 160, 8,1);
    cursor: pointer;
    text-decoration: none;
    padding:0 20px;
    text-align: right;
    font-size: 13px;
}

.login >  a:visited {
    color: rgba(47, 160, 8,1);
    cursor: pointer;
    text-decoration: none;
}

.login >  a:hover {
    text-shadow: 1px 2px 8px #426a5a;
}
a:hover {
    color: rgb(135, 240, 132);
    cursor: pointer;
}

/*===========MAIN MENU=========*/
#ham-menu {
    display:none;
}
.dropup,
.dropdown {
    min-width: 130px;
    text-align: center;
    list-style-type:none;
}
.dropdown-menu{
    min-width: 128px;
}
.nav-tabs>li{
    width: 12vw;
    max-width:120px;
    min-width: 90px;
    text-align: center;
}
.dropdown-menu a{
    display:block;
    padding:5px 0 5px 10px;
}
.dropdown-menu> a:hover{
    background-color:rgb(181, 241, 179) ;
    color:rgb(39, 114, 36);
    text-decoration:none
}
.dropdown-divider{
        border-bottom: 1px solid #ddd;
}
.navbar{
    margin-bottom: 0;
}

.fa-icon-innter-text {
    font-family: 'Titillium Web', sans-serif;
    padding-left: 5%;
}


/*===========MAIN MENU end=========*/
/*=========INNER MENU==========*/
#inner_wrap{
    padding-left: 20px;
    padding-right: 20px;
}
.nav{
    padding-left: 20px;
    margin-top:35px;
}
.nav li{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    float: left;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: rgba(47, 160, 8,1);
}
/*=========INNER MENU end==========*/
/*=========CONTENT AREA==========*/
/*=======CAROUSEL========*/
.carousel {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
    margin-top:0px;
    float:left;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-item.active {
    display: block;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}
.carousel img{
    width: 600px;
    height: 400px;
}
/*=======Carousel end========*/
/*============PLACE===========*/

#add_pic_h3{
    margin-top:0px;
}
#up{
    height:410px;
}
#is_in {
    font-size: smaller;
}
#is_in > p {
    margin: 0%;
}
#is_in > ul {
    list-style: none;
}

.show_ratings{
    float:right;
    padding: 20px;
    padding-top:0;
}
/*=======MY ACCOUNT=======*/

#my_ratings > ul {
    list-style: none;
}
/*=======GALLERY==========*/

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;  
  }
  #photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }  
/*=======Gallery end==========*/


  #main_text{
    width:100%;
    text-align: center;

}

.card{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    display:inline-block;
    margin: 0.5%;
    flex-direction: column;
    box-sizing: border-box;
}
  
.card-body{
    padding:10px;
   
}

.card .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;

}
.card img{
    width:100%;
    height: 100px;
}
.alert {
    margin-top: 5px;
}

#addimage {
    float: right;
    margin-right: 600px;
    
}

#addimage > h3 {
    margin-left: 20%;
}



.table>tbody>tr>td{
    padding: 18px;
    line-height: 1.42857143;
    border-top: transparent;
    margin:10px;
}
#profile-txt{
    vertical-align: bottom;
    width:20vw;
    min-width: 160px;
    height:auto;
    float:left;

}

.table>tbody>tr>td>img {
    width:100%;

}
#profile-av{
    width:18vw;
    min-width: 220px;
}
/*=========BTN=========*/
.btn-group-vertical{

    float: right;
    margin:10px;
    width: 30%;
    min-width: 200px;
}

.btn-group-vertical a {
    text-align: left;
    padding-left: 3vw;
}
#profile_btn{
    float: right;
    margin:10px;
}

.btn-light{
   margin: 10px 0 10px 0;
}

.remove-image {
    margin-left: 5%;
}

.remove-image > a {
    color: white;
}

.fa-star, .fa-star-o {
    color: #FF9800;
}
.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

.btn-group, .btn-group-vertical a{
    margin: 3px 0;
}
#go-index{

    margin:10px auto;
    width:fit-content;

}
/*=========BTN end=========*/



/*============FOOTER===========*/
.text-center {
    color:rgba(47, 160, 8,1);
}

i.fab {
    margin: 0.5% 1% 0 0;
     
}

i.contact {
    font-style: normal;
    padding-right: 1%;
}

.footer-copyright
{
    box-shadow: 0 -2px  3px -2px rgb(22, 77, 4);
   
}
.page-footer{
    position: absolute;
    bottom: 0;
    width:100% ;
    height:40px;
    margin-top:2%;
    left:0;
}
/*============FOOTER end===========*/

/*=============@Media============*/

@media only screen and (max-width: 1020px) {
    #logo{
        width:16%;
        margin-top: 5px;
    }
    .nav-tabs{
        margin:auto;
        display:table;
        margin-top: 35px;
    }
    .navbar-brand{
        float: none;
        line-height:1.8;
    }
    .login{
        margin:0;
        margin-top: -30px;
    }
    .navbar-brand{
        margin-bottom: 25px;
    }
    
    
    
    }
    
    
    
    
    @media only screen and (max-width: 530px) {
    
    
    #logo{
        margin-top: 5px;
    }
    
       #ham-menu {
        display:block;
    }
    .nav-tabs{
        display: none;
        float: right;
    }
    .navbar-toggler{
        width: 100%;
        background-color: rgba(47, 160, 8,1);
        border: 0;
        margin-top: 10px;
    
    }
    .navbar-toggler:active{
        border: none;
        background-color:rgb(54, 185, 14) ;
    }
    .navbar-collapse.in {
        background-color:   rgba(216, 216, 216, 0.322);
        margin-top: -4px;
    }
    .white-text{
        color: white;
       float: right;
    }
    .fas{
        padding: 5px;
    }
    .nav-item {
        list-style: none;
        
    }
    .btn-primary {
        color:rgba(47, 160, 8,1);
        background-color: initial;
        border: none;
        padding: 0;
        font-size: 1.2em
    }
    .btn-primary:hover {
        color: rgba(47, 160, 8,1);
        background-color:inherit;
        
    }
    .modal-body {
        position: relative;
        padding: 15px;
        width: 80vw;
        height: 60vh;
        background-color: white;
        border-radius: 10px;
        margin: auto;
        top: 100px;
    }
    .modal-body a {
        display: block;
        font-size: 2em;
        margin-left: 10px;
    
    }
    .modal-backdrop {
        position: fixed;
        top: 90px;
        right: 20px;
        bottom: 195px;
        left: 20px;
        z-index: 1040;
        background-color: rgb(14, 49, 3);
        border-radius: 10px;
    }
    
    .modal-open .modal {
        background-color:rgba(46, 160, 8, 0.021);
    }
    .modal-content {
        border: none;
    }
    .close{
        opacity:1;
        font-size: 50px;
        color:rgb(26, 95, 3);
        text-shadow: 0 0 5px  white ;
    }
    .nav-item a{
        font-size: 1.2em;
    }
    .login {
       
        margin-bottom: 5px;
    }
    #login a{
        font-size: 1em;
    }
    
    }